@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* light - set the other scheme to '.dark' if you intend to use both */
  /* :root {
      --background: 217 12% 95%;  
      --foreground: 217 5% 10%;  
      --card: 217 12% 90%;  
      --card-foreground: 217 5% 15%;  
      --popover: 217 12% 95%;  
      --popover-foreground: 217 95% 10%;  
      --primary: 217 73% 62%;  
      --primary-foreground: 0 0% 0%;  
      --secondary: 217 12% 70%;  
      --secondary-foreground: 0 0% 0%;  
      --muted: 179 12% 85%;  
      --muted-foreground: 217 5% 35%;  
      --accent: 179 12% 80%;  
      --accent-foreground: 217 5% 15%;  
      --destructive: 0 50% 30%;  
      --destructive-foreground: 217 5% 90%;  
      --border: 217 20% 50%;  
      --input: 217 20% 21%;  
      --ring: 217 73% 62%;  
      --radius: 0.5rem;
  } */

  :root {
    --background: 217 12% 10%;
    --foreground: 217 5% 90%;
    --card: 217 12% 15%;
    --card-foreground: 217 5% 90%;
    --popover: 217 12% 5%;
    --popover-foreground: 217 5% 90%;
    --primary: 217 73% 62%;
    --primary-foreground: 255 200% 255%;
    --secondary: 217 25% 30%;
    --secondary-foreground: 0 0% 100%;
    --muted: 179 12% 21%;
    --muted-foreground: 217 5% 60%;
    --accent: 179 12% 21%;
    --accent-foreground: 217 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 217 5% 90%;
    --border: 200 20% 35%;
    --input: 217 20% 21%;
    --ring: 217 73% 62%;
    --radius: 0.5rem;

    --app-bg-primary: 217 12% 10%;
    --app-bg-secondary: #18181b;
    --app-bg-tertiary: #27272a;

    --app-content-body: #cdcbcc;
    --app-content-placeholder: #827d7f;
    --app-content-headline: #b2b2b2;

    --app-border-primary: #19191a;
    --app-border-secondary: #323234;
    --app-border-tertiary: #97979;

    --app-yellow-100: 33 81% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgb(77, 77, 87);
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

::-webkit-scrollbar-track {
  background: rgb(18, 18, 20);
}
